body {
    margin: 0;
    padding: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

footer small {
    font-size: 10px;
    text-align: center;
}